service: serverless-image-api

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  stage: dev

  memorySize: 1024   # Increased memory from 512 image processing
  timeout: 20       # Increased timeout from 20 forLambda

  environment:
    BUCKET_NAME: ${self:custom.bucketName}
    TABLE_NAME: ImageTable

  iamRoleStatements:
    # S3 permissions
    - Effect: "Allow"
      Action:
        - "s3:PutObject"
        - "s3:GetObject"
      Resource: "arn:aws:s3:::${self:custom.bucketName}/*"
    # DynamoDB permissions
    - Effect: "Allow"
      Action:
        - "dynamodb:PutItem"
        - "dynamodb:GetItem"
        - "dynamodb:Scan"
      Resource: "arn:aws:dynamodb:${self:provider.region}:${aws:accountId}:table/ImageTable"

custom:
  bucketName: ${sls:stage}-image-api-${aws:accountId}-uploads

functions:
  upload:
    handler: handler.upload
    events:
      - httpApi:
          path: /upload
          method: post

  list:
    handler: handler.listWithUrls
    events:
      - httpApi:
          path: /images
          method: get

resources:
  Resources:
    ImageBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.bucketName}

    ImageTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ImageTable
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

